
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>My Liked Songs</title>
    <link rel="stylesheet" href="{%  static 'spotifylayer/liked_songs.css' %}">
</head>
<body>
    <h1>My Liked Songs</h1>
    <div id="liked-songs-container">
        {% for song in liked_songs %}
        <div class="song-container">
            <div class="song-container-album-art">
                
            </div>
            <div class="song-container-name-artist">
                {{ song.name }} <br>
                {% for artist in song.artists %}
                    {{ artist }} 
                {% endfor %}
            </div>
            <div class="song-container-album">
                {{ song.album }}
            </div>
        </div>
        {% endfor %}
    </div>



</body>
</html>