{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Spotify - Web Player</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/playlist.css' %}">
    </head>
    <body>
        {% include 'header.html' %}
        <div class="container">
            {% include 'sidebar.html' %}
            <section class="content-list">
                <div class="playlist-header">
                    <img src="{{ playlist.image_url }}" alt="Playlist Image" class="playlist-header-image">
                    <div class="playlist-header-text">
                        <p>Playlist</p>
                        <h1>{{ playlist.name }}</h1>
                        <p>{{ playlist.description }}</p>
                    </div>
                </div>
                {% for song in tracks %}
                    <div class="card">
                        <img src="{{ song.image_url }}" alt="Album Art">
                        <div class="card-text">
                            <b>{{ song.name }}</b>
                            <p> {{ song.artists }}</p>
                        </div>
                    </div>
                {% endfor %}
                
   
            </section>
        </div>
    </body>
</html>